<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Like page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/style.css">
    <style>
        header {
            position: fixed;
            top: 20px;
            right: 20px;
        }

        #btn {
            border-radius: 12px;
            width: 80px;
            height: 30px;
            line-height: 15px;
            font-size: 14px;
            font-weight: 500;
            font-family: cursive;
            transition: .3s all;
        }

        .btn:hover {
            background: white;
            transition: .3s all;
        }
    </style>
</head>
<body style="background-color: #f5f5f5;">
<header>
    <form action="/logout" method="post">
        <div id="logout">
            <button type="submit" id="btn" class="btn btn-sm btn-warning">Log out</button>
        </div>
    </form>
</header>
<form method="post">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12 text-center">
                        <img th:src="${enemy.getAvatarLink()}" alt="" class="mx-auto rounded-circle img-fluid">
                        <h3 class="mb-0 text-truncated" th:text="${enemy.getUsername()}"></h3>
                        <br>
                    </div>
                    <div class="col-12 col-lg-6">
                        <button type="button" class="btn btn-outline-danger btn-block"><span class="fa fa-times"></span>
                            Dislike
                        </button>
                    </div>
                    <div class="col-12 col-lg-6">
                        <button class="btn btn-outline-success btn-block"><span class="fa fa-heart"></span> Like
                        </button>
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>
            <!--/card-block-->
        </div>
    </div>
</form>
</body>
</html>