<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ismayil Ismayilov">
    <link rel="icon" href="img/favicon.ico">
    <title>People list</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        header {
            position: fixed;
            top: 20px;
            right: 20px;
        }

        #btn {
            border-radius: 12px;
            width: 80px;
            height: 30px;
            line-height: 15px;
            font-size: 14px;
            font-weight: 500;
            font-family: cursive;
            transition: .3s all;
        }

        .btn:hover {
            background: white;
            transition: .3s all;
        }
    </style>
</head>
<body>
<header>
    <form action="/logout" method="post">
        <div id="logout">
            <button type="submit" id="btn" class="btn btn-sm btn-warning">Log out</button>
        </div>
    </form>
</header>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="panel panel-default user_panel">
                <div class="panel-heading">
                    <h3 class="panel-title">User List</h3>
                </div>
                <div class="panel-body">
                    <div class="table-container">
                        <table class="table-users table" style="border: 0">
                            <tbody>
                            <tr th:each="likeUser: ${likedUsers}">
                                <td style="width:10px">
                                    <div class="avatar-img">
                                        <img class="img-circle" th:src="${likeUser.getAvatarLink()}" alt=""/>
                                    </div>
                                </td>
                                <td class="align-middle" th:text="${likeUser.getFullName()}">
                                </td>
                                <td class="align-middle" th:text="${likeUser.getProfession()}">
                                </td>
                                <td class="align-middle" th:text=" ${likeUser.getLastLogin()}">
                                    <br><small class="text-muted" ></small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>